* {
  font-family: "Inter";
  font-size: 35px;
  color: rgb(58, 58, 60);
  background-color: #f2f2f7;
}

.row {
  display: flex;
  height: 90%;
}

.col {
  flex: 1;
  padding: 1em;
}

h1 {
  margin: auto;
  padding: 1em 0em 0em 1em;
  font-weight: 900;
  font-style: normal;
}

label {
  font-weight: 900;
  font-style: normal;
}

textarea {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  resize: none;
}

form#bionifier div * {
  display: block;
}

div#output * {
  display: inline !important;
}
