# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Poetry
poetry.lock
pyproject.toml

# Pyenv
.python-version

# Miscellaneous
.DS_Store
__pycache__